.popover-container {
  position: fixed;
  inset: 0px;
  z-index: 1000;
}

.popover-container--close-popover {
  position: fixed;
  inset: 0px;
  z-index: -1;
}

.popover-container--popover {
  position: absolute;
  background-color: var(--stroke-weak);
  border-radius: 5px;
  padding: 10px;
  max-width: 200px;
  border-color: var(--stroke-weak-variant);
  border-width: 2px;
  border-style: solid;
}