.error-test-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.error-test-text {
  color: var(--error-text);
  padding: 20px;
  border: var(--error-stroke-weak) 2px solid;
  border-radius: 50;
  font-size: 20;
  font-weight: 600;
  background-color: var(--error-fill);
  width: fit-content;
}

.warning-test-text {
  color: var(--warning-text);
  padding: 20px;
  border: var(--warning-stroke-weak) 2px solid;
  border-radius: 50;
  font-size: 20;
  font-weight: 600;
  background-color: var(--warning-fill);
  width: fit-content;
}

.success-test-text {
  color: var(--success-text);
  padding: 20px;
  border: var(--success-stroke-weak) 2px solid;
  border-radius: 50;
  font-size: 20;
  font-weight: 600;
  background-color: var(--success-fill);
  width: fit-content;
}

.snackbar-container {
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50px;
}