:root {
  /* Contrast to fill at least 4.5:1 */
  --brand: #518000;
  /* Contrast to fill at least 4.5:1 */
  --text-strong: #313d1a;
  /* Contrast to fill at least 4.5:1 */
  --text-weak: #6E7656;
  /* Contrast to fill at least 3:1 */
  --stroke-strong: #829669;
  --stroke-weak: hsla(82, 28.14%, 91.65%, 1);
  --fill: #f8faf5;
  --background: #ffffff;
  --error-text: hsla(0, 55.7%, 50.3%, 1);
  --error-stroke-strong: hsla(0, 56%, 50.3%, 0.8);
  --error-stroke-weak: hsla(0, 55.7%, 50.3%, 0.2);
  --error-fill: hsla(0, 55.7%, 50.3%, 0.05);
  --warning-text: hsla(42, 69.5%, 33%, 1);
  --warning-stroke-strong: hsla(42, 69.5%, 33%, 0.8);
  --warning-stroke-weak: hsla(42, 69.5%, 33%, 0.2);
  --warning-fill: hsla(42, 69.5%, 33%, 0.05);
  --success-text: hsla(162, 90.5%, 25.2%, 1);
  --success-stroke-strong: hsla(162, 90.5%, 25.2%, 0.8);
  --success-stroke-weak: hsla(162, 90.5%, 25.2%, 0.2);
  --success-fill: hsla(162, 90.5%, 25.2%, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Contrast to fill at least 4.5:1 */
    --brand: #d7fc97;
    /* Contrast to fill at least 4.5:1 */
    --text-strong: #ffffff;
    /* Contrast to fill at least 4.5:1 */
    --text-weak: #d5d9ce;
    /* Contrast to fill at least 3:1 */
    --stroke-strong: #a0a695;
    --stroke-weak: hsl(82, 8.1%, 23.1%);
    --fill: hsl(82, 11.1%, 13.5%);
    --background: #171912;
    --error-text: hsla(0, 100%, 80.5%, 1);
    --error-stroke-strong: hsla(0, 100%, 80.5%, 0.8);
    --error-stroke-weak: hsla(0, 100%, 80.5%, 0.2);
    --error-fill: hsla(0, 100%, 80.5%, 0.05);
    --warning-text: hsla(42, 64.7%, 66%, 1);
    --warning-stroke-strong: hsla(42, 64.7%, 66%, 0.8);
    --warning-stroke-weak: hsla(42, 64.7%, 66%, 0.2);
    --warning-fill: hsla(42, 64.7%, 66%, 0.05);
    --success-text: hsla(162, 41.5%, 62.4%, 1);
    --success-stroke-strong: hsla(162, 41.5%, 62.4%, 0.8);
    --success-stroke-weak: hsla(162, 41.5%, 62.4%, 0.2);
    --success-fill: hsla(162, 41.5%, 62.4%, 0.05);
  }
}

body.light-mode {
  /* Contrast to fill at least 4.5:1 */
  --brand: #518000;
  /* Contrast to fill at least 4.5:1 */
  --text-strong: #313d1a;
  /* Contrast to fill at least 4.5:1 */
  --text-weak: #6E7656;
  /* Contrast to fill at least 3:1 */
  --stroke-strong: #829669;
  --stroke-weak: hsla(82, 28.14%, 91.65%, 1);
  --fill: #f8faf5;
  --background: #ffffff;
  --error-text: hsla(0, 55.7%, 50.3%, 1);
  --error-stroke-strong: hsla(0, 56%, 50.3%, 0.8);
  --error-stroke-weak: hsla(0, 55.7%, 50.3%, 0.2);
  --error-fill: hsla(0, 55.7%, 50.3%, 0.05);
  --warning-text: hsla(42, 69.5%, 33%, 1);
  --warning-stroke-strong: hsla(42, 69.5%, 33%, 0.8);
  --warning-stroke-weak: hsla(42, 69.5%, 33%, 0.2);
  --warning-fill: hsla(42, 69.5%, 33%, 0.05);
  --success-text: hsla(162, 90.5%, 25.2%, 1);
  --success-stroke-strong: hsla(162, 90.5%, 25.2%, 0.8);
  --success-stroke-weak: hsla(162, 90.5%, 25.2%, 0.2);
  --success-fill: hsla(162, 90.5%, 25.2%, 0.05);
  color-scheme: light;
}

body.dark-mode {
  /* Contrast to fill at least 4.5:1 */
  --brand: #d7fc97;
  /* Contrast to fill at least 4.5:1 */
  --text-strong: #ffffff;
  /* Contrast to fill at least 4.5:1 */
  --text-weak: #d5d9ce;
  /* Contrast to fill at least 3:1 */
  --stroke-strong: #a0a695;
  --stroke-weak: hsl(82, 8.1%, 23.1%);
  --fill: hsl(82, 11.1%, 13.5%);
  --background: #171912;
  --error-text: hsla(0, 100%, 80.5%, 1);
  --error-stroke-strong: hsla(0, 100%, 80.5%, 0.8);
  --error-stroke-weak: hsla(0, 100%, 80.5%, 0.2);
  --error-fill: hsla(0, 100%, 80.5%, 0.05);
  --warning-text: hsla(42, 64.7%, 66%, 1);
  --warning-stroke-strong: hsla(42, 64.7%, 66%, 0.8);
  --warning-stroke-weak: hsla(42, 64.7%, 66%, 0.2);
  --warning-fill: hsla(42, 64.7%, 66%, 0.05);
  --success-text: hsla(162, 41.5%, 62.4%, 1);
  --success-stroke-strong: hsla(162, 41.5%, 62.4%, 0.8);
  --success-stroke-weak: hsla(162, 41.5%, 62.4%, 0.2);
  --success-fill: hsla(162, 41.5%, 62.4%, 0.05);
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--text-strong);
  transition: background-color 300ms, color 300ms;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.transition-test {
  width: 0px;
  transition: width 500ms;
  transition: opacity 500ms;
  opacity: 1;
  height: 20px;
  background-color: white;
}

.general-icon {
  fill: var(--text-strong);
  height: 25px;
  width: 25px;
}

button:focus-visible {
  outline-style: solid;
  outline-color: var(--brand);
  outline-offset: 2px;
  outline-width: 2px;
}