:root {
  --background: #ffffff;
  --foreground: #171717;
  --error-text: hsla(0, 55.7%, 50.3%, 1);
  --error-stroke-strong: hsla(0, 56%, 50.3%, 0.8);
  --error-stroke-weak: hsla(0, 55.7%, 50.3%, 0.2);
  --error-fill: hsla(0, 55.7%, 50.3%, 0.05);
  --warning-text: hsla(42, 69.5%, 33%, 1);
  --warning-stroke-strong: hsla(42, 69.5%, 33%, 0.8);
  --warning-stroke-weak: hsla(42, 69.5%, 33%, 0.2);
  --warning-fill: hsla(42, 69.5%, 33%, 0.05);
  --success-text: hsla(162, 90.5%, 25.2%, 1);
  --success-stroke-strong: hsla(162, 90.5%, 25.2%, 0.8);
  --success-stroke-weak: hsla(162, 90.5%, 25.2%, 0.2);
  --success-fill: hsla(162, 90.5%, 25.2%, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hwb(0 4% 96%);
    --foreground: #ededed;
    --error-text: hsla(0, 100%, 80.5%, 1);
    --error-stroke-strong: hsla(0, 100%, 80.5%, 0.8);
    --error-stroke-weak: hsla(0, 100%, 80.5%, 0.2);
    --error-fill: hsla(0, 100%, 80.5%, 0.05);
    --warning-text: hsla(42, 64.7%, 66%, 1);
    --warning-stroke-strong: hsla(42, 64.7%, 66%, 0.8);
    --warning-stroke-weak: hsla(42, 64.7%, 66%, 0.2);
    --warning-fill: hsla(42, 64.7%, 66%, 0.05);
    --success-text: hsla(162, 41.5%, 62.4%, 1);
    --success-stroke-strong: hsla(162, 41.5%, 62.4%, 0.8);
    --success-stroke-weak: hsla(162, 41.5%, 62.4%, 0.2);
    --success-fill: hsla(162, 41.5%, 62.4%, 0.05);
  }
}

body {
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
