.main-content-container {
  /* color: var(--text-strong); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.locale-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.sku-grid-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.sku-grid-table--row {
  display: contents;
}

.sku-grid-table--row:hover .sku-grid-table--item {
  background-color: blue;
  opacity: 0.3;
}

.sku-grid-table--header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sku-grid-table--header-notification > svg {
  fill: var(--text-strong);
  height: 25px;
} */

.sku-grid-table--item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sku-response--error {
  border-radius: 5px;
  border: solid var(--error-stroke-strong) 2px;
  background-color: var(--error-text);
  width: 25px;
  height: 25px;
}

.sku-response--warning {
  border-radius: 5px;
  border: solid var(--warning-stroke-strong) 2px;
  background-color: var(--warning-text);
  width: 25px;
  height: 25px;
}

.sku-response--success {
  border-radius: 5px;
  border: solid var(--success-stroke-strong) 2px;
  background-color: var(--success-text);
  width: 25px;
  height: 25px;
}

.locale-start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.locale-start-button:hover {
  cursor: pointer;
}

.locale-start-button--icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 15px;
  width: 15px;
}

.timer-container {
  border-radius: 5px;
  border: 2px solid var(--stroke-strong);
  padding: 10px;
  width: 100px;
  display: flex;
}

.timer-container--inner {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.timer-container--inner-container {

}

button.primary-button {
  padding: 10px;
}

.locale-bar--select-menu {
  padding: 10px;
}

.sku-grid-table--item-gpuname-container {
  position: relative;
}

.sku-grid-table--item-gpuname-api {
  position: absolute;
}